
.burger
  span
nav#navbar
  ul.menu.menu--appearance-md.row.row--justify_end.row--space_none
    li.menu__item
      a(href='#welcome-section').menu__link.nav-link
        h4.caption.caption--size_4.caption--bolder.caption--color_white.caption--line_height_1
          | About
    li.menu__item
      a(href='#projects').menu__link.nav-link
        h4.caption.caption--size_4.caption--bolder.caption--color_white.caption--line_height_1
          | Work
    li.menu__item
      a(href='#contact').menu__link.nav-link
        h4.caption.caption--size_4.caption--bolder.caption--color_white.caption--line_height_1
          | Contact
   
                                                               
 
   
