<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;800&display=swap' rel='stylesheet')

        link(rel="stylesheet", href="css/style.css")
        

    body
        header
            section.section.section--bg_red
                .container
                    .row
                        .cell.cell--12
                            include _menu.pug        
        main
            section.section.section--bg_black#welcome-section
                .container.container--full_screen
                    .row.row--justify_center.row--align_center
                        .cell.cell--12
                            .card.card--space_bottom_l
                                .avatar
                                    .aspect-ratio.aspect-ratio--round
                                        img(src="./img/i.jpg", alt="clock").aspect-ratio__body
                            .card
                                h1.caption.caption--size_1.caption--bolder.caption--align_center.caption--color_white.caption--line_height_1 Hey! I am Bohdan Kalchenko
                            .card    
                                p.caption.caption--size_3.caption--align_center.caption--color_red.caption--italic.caption--thin.caption--line_height_1 Front End Developer
            section.section.section--bg_blue#projects
                .container.container--space_top_xl.container--space_bottom_xl
                    .row.row--justify_beetween
                        .cell.cell--12
                            .card.card--position_center.card--underline.card--space_bottom_l.project-title
                                h2.caption.caption--size_2.caption--bolder.caption--align_center.caption--color_white.caption--line_height_1 These are some of my projects
                        .cell.cell--12.cell--6-md.cell--4-lg
                            .card.card--shadow.card--space_bottom_l
                                a(href="https://bohdan-sys.github.io/random-quote/" target="_blank")
                                    .card__panel
                                        .aspect-ratio
                                            img(src="./img/Random Quote.jpg", alt="Tribute Page").aspect-ratio__body
                                    .card__panel.card__panel--bg_grey
                                        h4.caption.caption--size_4.caption--color_white.caption--align_center.project-title 
                                            span < 
                                            | Random Quote 
                                            span  />
                        .cell.cell--12.cell--6-md.cell--4-lg
                            .card.card--shadow.card--space_bottom_l
                                a(href="https://bohdan-sys.github.io/" target="_blank")
                                    .card__panel
                                        .aspect-ratio
                                            img(src="./img/clock.jpg", alt="clock").aspect-ratio__body
                                    .card__panel.card__panel--bg_grey
                                        h4.caption.caption--size_4.caption--color_white.caption--align_center 
                                            span < 
                                            | Parallax Clock 
                                            span  />
                        .cell.cell--12.cell--6-md.cell--4-lg
                            .card.card--shadow.card--space_bottom_l
                                a(href="https://bohdan-sys.github.io/Moving-NJ/" target="_blank")
                                    .card__panel
                                        .aspect-ratio
                                            img(src="./img/moving NJ.jpg", alt="clock").aspect-ratio__body
                                    .card__panel.card__panel--bg_grey
                                        h4.caption.caption--size_4.caption--color_white.caption--align_center 
                                            span < 
                                            | Moving NJ
                                            span  />
                        .cell.cell--12.cell--6-md.cell--4-lg
                            .card.card--shadow.card--space_bottom_l
                                a(href="https://bohdan-sys.github.io/drum-machine/" target="_blank")
                                    .card__panel
                                        .aspect-ratio
                                            img(src="./img/drum-machine.jpg", alt="clock").aspect-ratio__body
                                    .card__panel.card__panel--bg_grey
                                        h4.caption.caption--size_4.caption--color_white.caption--align_center 
                                            span < 
                                            | Drum Machine
                                            span  />      
                        .cell.cell--12.cell--6-md.cell--4-lg
                            .card.card--shadow.card--space_bottom_l
                                a(href="https://bohdan-sys.github.io/markdown-editor/" target="_blank")
                                    .card__panel
                                        .aspect-ratio
                                            img(src="./img/MarkDown.jpg", alt="clock").aspect-ratio__body
                                    .card__panel.card__panel--bg_grey
                                        h4.caption.caption--size_4.caption--color_white.caption--align_center 
                                            span < 
                                            | Markdown Previewer
                                            span  />  
                        .cell.cell--12.cell--6-md.cell--4-lg
                            .card.card--shadow.card--space_bottom_l
                                a(href="https://bohdan-sys.github.io/calculator" target="_blank")
                                    .card__panel
                                        .aspect-ratio
                                            img(src="./img/reactCalculator.jpg", alt="clock").aspect-ratio__body
                                    .card__panel.card__panel--bg_grey
                                        h4.caption.caption--size_4.caption--color_white.caption--align_center 
                                            span < 
                                            | Calculator
                                            span  />                                                            
                        .cell.cell--12
                            a(href="https://github.com/Bohdan-sys?tab=repositories" target="_blank").button.button--space_m.button--bg_grey.button--size_s
                                span.caption.caption--color_white.caption--size_4.caption--align_center
                                    |Show all on GitHub 
                                    i.fas.fa-angle-right       
            section.section.section--bg_grey#contact
                .container.container--space_top_xl.container--space_bottom_xl
                    .row
                        .cell.cell--12
                            .card
                                h1.caption.caption--size_1.caption--bold.caption--align_center.caption--color_white.caption--line_height_1.caption--family_raleway Let's work together...
                            .card.card--space_bottom_l   
                                p.caption.caption--size_4.caption--align_center.caption--color_white.caption--italic.caption--thin.caption--line_height_1 Nothing is particularly hard if you divide it into small jobs.
                        .cell.cell--12.cell--display_flex
                            .card.card__contact  
                                a(href="https://www.facebook.com/profile.php?id=100008539636333" target= "_blank")
                                    p.caption.caption--color_white.caption--size_4
                                        i.fab.fa-facebook-square.icon 
                                        | Facebook
                        
                            .card.card__contact  
                                a(href="https://github.com/Bohdan-sys" target= "_blank")#profile-link
                                    p.caption.caption--color_white.caption--size_4  
                                        i.fab.fa-github.icon
                                        | GitHub

                        
                            .card.card__contact  
                                a(href="https://www.linkedin.com/in/bohdan-kalchenko-398169204/" target= "_blank")
                                    p.caption.caption--color_white.caption--size_4
                                        i.fab.fa-linkedin.icon 
                                        | LinkedIn

                        
                            .card.card__contact 
                                a(href="mailto:kalchenko20@gmail.com")
                                    p.caption.caption--color_white.caption--size_4 
                                        i.fas.fa-at.icon 
                                        | Send a mail
        footer
            section.section.section--bg_grey.section--border_red
                .container.container--space_top_m.container--space_bottom_m
                    .row.row--align_center
                        .cell.cell--7-sm.cell--12
                            .card
                                p.caption.caption--color_white.caption--size_5.caption--line_height_1
                                    | **This is my Portfolio

                        .cell.cell--5-sm.cell--12
                            .card
                                p.caption.caption--color_white.caption--size_5.caption--align_end-sm.caption--line_height_1
                                    | © Created by myself
                                       


                        

        script(src="./js/script.js")
        script(src='https://kit.fontawesome.com/9cebe32d8d.js' crossorigin='anonymous')